In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = '/Users/mt/Desktop/python/webScrape/google_scrape'
filenames = []
for root, directories, files in os.walk(path, topdown=False):
    for name in files:
        filenames.append(os.path.join(root, name))
filenames

['/Users/mt/Desktop/python/webScrape/google_scrape/.ipynb_checkpoints/Sentiment_Analysis-checkpoint.ipynb',
 '/Users/mt/Desktop/python/webScrape/google_scrape/.ipynb_checkpoints/topic_modelling -checkpoint.ipynb',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.diagnostics.50.xml',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.model.50',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.word_weights.50',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/training.txt',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.training',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.topic_keys.50',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic-model-output/corruption/mallet.topic_distributions.50',
 '/Users/mt/Desktop/python/webScrape/google_scrape/congo_corruption.csv',
 '/Users/mt/Desktop/python/webScrape/google_scrape/google_news_corruption.py',
 '/Users/mt/Desktop/python/webScrape/google_scrape/corrruption.csv',
 '/Users/mt/Desktop/python/webScrape/google_scrape/test.csv',
 '/Users/mt/Desktop/python/webScrape/google_scrape/corruption.csv',
 '/Users/mt/Desktop/python/webScrape/google_scrape/Sentiment_Analysis.ipynb',
 '/Users/mt/Desktop/python/webScrape/google_scrape/google_new.py',
 '/Users/mt/Desktop/python/webScrape/google_scrape/corruption.txt',
 '/Users/mt/Desktop/python/webScrape/google_scrape/scrape.py',
 '/Users/mt/Desktop/python/webScrape/google_scrape/topic_modelling .ipynb']

In [3]:
data =  pd.read_csv(r"/Users/mt/Desktop/python/webScrape/google_scrape/corruption.txt",sep='delimiter', header =None)
data.dtypes

<ipython-input-3-548dfe3bf6bc>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data =  pd.read_csv(r"/Users/mt/Desktop/python/webScrape/google_scrape/corruption.txt",sep='delimiter', header =None)

0    object
dtype: object

In [4]:
data

                                                     0
0    Help us continue to fight human rights abuses....
1    Authorities in the Democratic Republic of Cong...
2    Human Rights Watch defends the rights of peopl...
3    Get updates on human rights issues from around...
4                                        OTHER WIDGETS
..                                                 ...
590  Sign up to receive our original, on-the-ground...
591                                            Sign up
592  Support our journalism and become more involve...
593                                               Join
594                         © All rights reserved 2021

[595 rows x 1 columns]

In [5]:
#convert th e txt file to csv
data = pd.read_csv("/Users/mt/Desktop/python/webScrape/google_scrape/corruption.csv")
data.head(4)

   Unnamed: 0                                                  0
0           0  Help us continue to fight human rights abuses....
1           1  Authorities in the Democratic Republic of Cong...
2           2  Human Rights Watch defends the rights of peopl...
3           3  Get updates on human rights issues from around...

In [6]:
data = data.rename(columns = {'0':'Notes'})
data.head()

   Unnamed: 0                                              Notes
0           0  Help us continue to fight human rights abuses....
1           1  Authorities in the Democratic Republic of Cong...
2           2  Human Rights Watch defends the rights of peopl...
3           3  Get updates on human rights issues from around...
4           4                                      OTHER WIDGETS

In [7]:
data = data.drop(['Unnamed: 0'], axis =1 )
data.head()

                                               Notes
0  Help us continue to fight human rights abuses....
1  Authorities in the Democratic Republic of Cong...
2  Human Rights Watch defends the rights of peopl...
3  Get updates on human rights issues from around...
4                                      OTHER WIDGETS

In [8]:
data['Notes'][1]

"Authorities in the Democratic Republic of Congo confirmed last week that they had opened an inquiry following allegations of high-level corruption reported by a consortium of media and international groups. Investigators from 18 countries, working with 19 media outlets and 5 nongovernmental organizations, spent months going through 3.5 million leaked documents to produce “Congo Hold-Up,” a stunning account of corruption under former president Joseph Kabila.The documents, obtained by Mediapart and the Platform to Protect Whistleblowers in Africa, are from BGFIBank Group (Banque Gabonaise et Française Internationale), a private bank allegedly used to channel millions of dollars’ worth of public funds to Kabila’s family and associates.Since November 19, “Congo Hold-Up” findings have been published almost daily, exposing a kleptocratic system that enabled the siphoning of state funds from Congo’s Central Bank, state-owned mining company Gecamines, the national electoral commission, and tax revenues.Kabila, his family, and close associates allegedly embezzled at least US$138 million dollars over five years between 2013 and 2018. They even allegedly stole United Nations payments intended for Congolese soldiers who contributed to peacekeeping operations in the Central African Republic.The trove of material also revealed evidence of fraud and bribery in Congo’s 2008 multi-billion dollar “deal of the century” with two Chinese state-owned mining companies. Sicomines, the joint venture formed to implement part of that deal, denied the allegations. Gecamines has not responded to the allegations.BGFI, in a statement released on November 24, decried the leak and questioned the authenticity of the documents, but “strongly condemn[ed] acts contrary to law and ethics that may have been committed in the past” within its Congo branch “and of which its employees could possibly have been perpetrators or complicit.”Although endemic corruption in Congo is common knowledge, the government’s lack of political will to investigate alleged wrongdoings and the opacity of financial operations have long enabled corrupt officials to enjoy impunity. However, with bank statements, contracts, emails, and transaction records on hand, “Congo Hold-Up” could provide sufficient evidence for prosecutions.Those responsible for financial crimes, as well as their international enablers, should be held accountable. In a country where one in three people is critically hungry and the government constantly neglects basic rights such as access to running water, electricity, health care, and education, justice for large-scale corruption is long overdue. \xa0European Development Banks’ Link to Abuses in the Democratic Republic of Congo's Palm Oil IndustryThe Impact of Lead Contamination on Children’s Rights in Kabwe, Zambia"

In [9]:
from wordcloud import WordCloud

In [12]:
# Remove irrelevant characters
import re
def irrelevant_char(tweet):
    return re.sub('[^a-zA-Z]',' ',tweet)
data['no_character'] = data['Notes'].apply(irrelevant_char)
data.head(3)

,Notes,no_character
0,Help us continue to fight human rights abuses....,Help us continue to fight human rights abuses ...
1,Authorities in the Democratic Republic of Cong...,Authorities in the Democratic Republic of Cong...
2,Human Rights Watch defends the rights of peopl...,Human Rights Watch defends the rights of peopl...

In [13]:
#lower case
def lower_case(tweet):
    return str(tweet).lower()
data['lower_data'] = data['no_character'].apply(lower_case)
data.head(3)

,Notes,no_character,lower_data
0,Help us continue to fight human rights abuses....,Help us continue to fight human rights abuses ...,help us continue to fight human rights abuses ...
1,Authorities in the Democratic Republic of Cong...,Authorities in the Democratic Republic of Cong...,authorities in the democratic republic of cong...
2,Human Rights Watch defends the rights of peopl...,Human Rights Watch defends the rights of peopl...,human rights watch defends the rights of peopl...

In [14]:
#remove Stop Words
import nltk
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [15]:
# text = ' '.join(list(data['Notes'].values))
# text